<table class="table table-bordered">
  
  <tr>
    <th>Event</th>
    <th>Date</th>
    <th>Price</th>
    <th>Quota</th>
    <th>Buy</th>
  </tr>
  <tr *ngFor="let event of eventList">
    <td>{{event.event_name}}</td>
    <td>{{event.event_date}}</td>
    <td>{{event.price}}</td>
    <td>{{event.ticket_quota}}</td>
    <td>
      <button type="submit" (click)="deleteUser(u.id)"  class="btn btn-success">Buy</button>
    </td>

  </tr>

</table>