<br>

<script>
  var today = new Date();
  var dd = today.getDate();
  var mm = today.getMonth()+1; //January is 0!

  var yyyy = today.getFullYear();
  if(dd<10){
      dd='0'+dd;
  } 
  if(mm<10){
      mm='0'+mm;
  } 
  var today = dd+'/'+mm+'/'+yyyy;
  document.getElementById("DATE").value = today;
</script>

<div>
        <div>
            <h2>Event Manager</h2>
        </div>
        <div class="block">
            <div class="form-horizontal">
              <div class="form-group">
                    <label  class="col-sm-2 control-label text-left">Event Name</label>
                    <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="event_name" placeholder="Enter event date" >
                    </div>
                </div>
                <div class="form-group">
                    <label  class="col-sm-2 control-label text-left">Event Date</label>
                    <div class="col-sm-6">
                    <!-- <input class="form-control" [(ngModel)]="event_date" type="date" id="DATE"> -->
                    <input class="form-control" [ngModel]="startDate | date:'yyyy-MM-dd'" (ngModelChange)="startDate = $event" type="date" name="startDate"/>
                    </div>
                </div>
                  <div class="form-group">
                    <label  class="col-sm-2 control-label text-left">Price</label>
                    <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="price" placeholder="Enter course name" >
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label text-left">Quota</label>
                    <div class="col-sm-6">
                    <input type="text" class="form-control"  [(ngModel)]="ticket_quota" placeholder="Enter course price" >
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="col-sm-offset-2">
                        <div class="col-sm-8">
                            
                        </div>
                        <div class="col-sm-4">
                            <button type="submit" class="btn btn-primary" (click)="addEvent()">Add</button>
                          
                        </div>
                    
                    </div>
                </div>
                </div>
        </div>
    </div>

    